* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.conteiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titulo {
    display: flex;
    font-size: 30px;
    font-weight: 700;

}
.painel {
    width: 250px;
    height: 100px;
    padding-top: 20px;
}
.itemName {
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}
.cor {
    font-size: 14px;
    padding-left: 25px;
}